p{
    color: blue;
    background-color: yellow;
    }

    h1 {
        font-family: serif;
        }
        h2 {
        font-family: sans-serif;
        }

    body {
        font-family: "Helvetica", "Lucida Grande", sans-serif;
        }

        p {
            text-align: right;
            }

            p {
                line-height: 3px; /* tamanho da altura de cada linha */
                letter-spacing: 3px; /* tamanho do espaço entre cada letra */
                word-spacing: 5px; /* tamanho do espaço entre cada palavra */
                text-indent: 30px; /* tamanho da margem da primeira linha do texto */
                }

                body {
                    background-image: url(https://i.imgur.com/uAhjMNd.jpg);
                    }

                    body {
                        border: 1px solid red;
                        }

                        h1 {
border-top: 1px solid red; /* borda vermelha em cima */
border-right: 1px solid red; /* borda vermelha à direita */
border-bottom: 1px solid red; /* borda vermelha embaixo */
border-left: 1px solid red; /* borda vermelha à esquerda */
}